<launch>
<arg name="map_file" default="$(find maps)/stagemaps/simple_map.yaml"/>
<!--Run the map server-->
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
<node name="stage" pkg="rviz" type="rviz" args="-d $(find turtlebot_stage)/rviz/robot_navigation.rviz"/>


</launch>
